<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="extensions:bybuss" version="1.1.2">
	<name>ByBuss</name>
	<description>Finn ut når bussen går i Trondheim ved å spørre Bussorakelet.</description>
	<author href="http://twitter.com/itmn/">tmn (@itmn)</author>

	<access origin="http://atb.no" />
	<access origin="http://www.atb.no" />
	
	<icon src="images/icon_64x64.png" />
    <icon src="images/icon_18x18.png" />
</widget>